.overview{
    display: flex;
    flex-direction: column;
}

.overview-header{
    flex: 1;
    justify-content: center;
    flex-direction: column;

}

.overview-header_subheading{
    flex: 1;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.overview-header_subheading h4{
    font-family: var(--font-family-primary);
    color: var(--color-topic);
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.05em;
}
.overview-header-heading-cover{
    display: flex;
    justify-content: center;
}
.overview-header-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* padding: 24px; */

    width:712px;
    height: 168px;

}

.overview-header-heading h1{
    font-family: var(--font-family-primary);
    color: var(--color-header);
    font-size: 44px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: center;

}

.overview-header-heading p{
    font-family: var(--font-family-primary);
    color: var(--color-body);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;

    padding-top: 10px;

}

.overview-content{
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
}

.overview-content_1{
    display: flex;
    padding: 4rem 0;
}

.overview-content_1-image{
 flex: 2;
}

.overview-content_1-body{
    flex: 1.5;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    align-items: flex-start;
}

.overview-content_1-body ul{
    list-style-image: url('../../media/tick_icon.png');
}

.overview-content_1-body li{
    font-family: var(--font-family-primary);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

}

.overview-content_2{
    display: flex;
    padding: 4rem 0;
}
.overview-content_3{
    display: flex;
    padding: 4rem 0;
}