.topic{
    display: flex;
    flex-direction: column;
}

.topic-header{
    display: flex;
    padding-bottom: 1rem;
}

.topic-header h3{
    font-family: var(--font-family-primary);
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;

}

.topic-text{
    display: flex;
    /* padding: 1rem 0; */
}

.topic-text p{
    font-family: var(--font-family-primary);
    font-size: 16px;   
    font-weight: 350;
    line-height: 22px;
    letter-spacing: 0em;
    color: var(--color-body);
    text-align: left;

}

.topic-line{
    padding: 2rem 0;
}

.topic-line hr{
    border: 4px solid #F4F7FB;
}